{% extends 'users/usercenter-base.html' %}
{% block title %}我的消息- 尚在线{% endblock %}
{% block breach %}我的消息{% endblock %}
{% block right %}
    <div class="right" >
		<div class="personal_des Releasecont">
			<div class="head">
				<h1>我的消息</h1>
			</div>

		</div>
		<div class="personal_des permessage">
			<div class="head">
				<ul class="tab_header messagehead">
					<li class="active"><a href="{% url 'users:user_message' %}">个人消息</a> </li>
				</ul>


			</div>
			<div class="messagelist">
                {% for message in all_messages %}
                    <div class="messages" msg-id="{{ message.id }}">
                        <div class="fr">
                            <div class="top"><span class="fl time">{{ message.add_time }}</span><span class="fr btn foldbtn"></span></div>
                            <p>
                                {{ message.message }}
                            </p>
                        </div>
                    </div>
                {% endfor %}
			</div>


			<div class="pageturn pagerright">
                <ul class="pagelist">





                            <li class="active"><a href="?page=1">1</a></li>





            </ul>
            </div>
		</div>

	</div>
{% endblock %}
{% block myjs1 %}
    <script>
        $('.messages').click(function () {
            var msgid = $(this).attr('msg-id');
            $.ajax({
                type:'GET',
                url:'{% url 'users:user_readmessage' %}',
                data:{msgid:msgid},
                success:function (callback) {
                    if(callback.status == 'ok'){
                        window.location.reload()
                    }else {
                        alert('读取消息失败')
                    }
                }

            })
        })
    </script>
{% endblock %}
