<!DOCTYPE html>
{% load staticfiles %}
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keys" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <style>

    </style>
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <div>
                <a class="navbar-brand" href="/" style="font-size:32px;">尚筹网-创意产品众筹平台</a>
            </div>
        </div>
    </div>
</nav>

<div class="container">

    <form class="form-signin" role="form" action="{% url 'users:user_login' %}" method="post">
        {% csrf_token %}
        <h2 class="form-signin-heading"><i class="glyphicon glyphicon-log-in"></i> 用户登录</h2>
        <div class="form-group has-success has-feedback">
            <input type="text" name="username" class="form-control" id="inputSuccessAccount" placeholder="请输入登录账号"
                   autofocus>
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
        </div>
        <div class="form-group has-success has-feedback">
            <input type="password" name="password" class="form-control" id="inputSuccessPassword" placeholder="请输入登录密码"
                   style="margin-top:10px;">
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="form-group has-success has-feedback">
            {{ msg }}
            {% for key,err in user_register_form.errors.items %}
                {{ err }}
            {% endfor %}
            <div class="checkbox">
                <label><input type="checkbox" value="remember-me"> 记住我</label>
                <br>

                <label style="float:right"><a href="{% url 'users:user_register' %}">我要注册</a></label>
            </div>
            <input class="btn btn-lg btn-success btn-block" type="submit" value="登录">
    </form>
</div>
<script src="{% static 'jquery/jquery-2.1.1.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script>
    function dologin() {
        var type = $(":selected").val();
        if (type == "user") {
            window.location.href = "main.html";
        } else {
            window.location.href = "index.html";
        }
    }
</script>
</body>

</html>