{% extends 'base.html' %}
{% block style %}
    <style>
        #footer {
            padding: 15px 0;
            background: #fff;
            border-top: 1px solid #ddd;
            text-align: center;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="container theme-showcase" role="main">
        <div class="page-header">
            <h1>实名认证 - 申请</h1>
        </div>

        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#"><span class="badge">1</span> 基本信息</a></li>
            <li role="presentation"><a href="#"><span class="badge">2</span> 资质文件上传</a></li>
            <li role="presentation"><a href="#"><span class="badge">3</span> 邮箱确认</a></li>
            <li role="presentation"><a href="#"><span class="badge">4</span> 申请确认</a></li>
        </ul>

        <form role="form" style="margin-top:20px;" method="post" action="{% url 'users:user_apply' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="exampleInputRealname">真实名称</label>
                <input type="text" class="form-control" name="real_name" id="exampleInputRealname"
                       placeholder="请输入真实名称">
            </div>
            <div class="form-group">
                <label for="exampleInputIdcardnum">身份证号码</label>
                <input type="text" class="form-control" name="id_num" id="exampleInputIdcardnum" placeholder="请输入身份证号码">
            </div>
            <div class="form-group">
                <label for="exampleInputMobile">电话号码</label>
                <input type="text" class="form-control" name="phone" id="exampleInputMobile" placeholder="请输入电话号码">
            </div>
            <button type="button" onclick="window.location.href='{% url 'users:user_verify' %}'"
                    class="btn btn-default">上一步
            </button>
            <button type="submit" class="btn btn-success">下一步</button>
        </form>
        <hr>
    </div>
{% endblock %}

{% block myjs %}
    <script>
        $('#myTab a').click(function (e) {
            e.preventDefault()
            $(this).tab('show')
        });
    </script>
{% endblock %}

