{% extends 'base.html' %}
{% load staticfiles %}
{% block title%}课程机构列表 - 谷粒教育网{% endblock %}
{% block content %}
<section>
        <div class="wp">
            <ul  class="crumbs">
                <li><a href="/">首页</a>></li>
                <li>课程机构</li>
            </ul>
        </div>
    </section>
<section>
	<div class="wp butler_list_box list">
	<div class='left'>
		<div class="listoptions">
			<ul>
				<li>
					<h2>机构类别</h2>
					<div class="cont">
                        <a href="?cat=&cid={{ cid }}&sort={{ sort }}"><span {% if cat == ''  %}class="active2"{% endif %}>全部</span></a>

                            <a href="?cat=培训机构&cid={{ cid }}&sort={{ sort }}"><span {% if cat == '培训机构'  %}class="active2"{% endif %}>培训机构</span></a>

                            <a href="?cat=高校&cid={{ cid }}&sort={{ sort }}"><span {% if cat == '高校' %}class="active2"{% endif %}>高校</span></a>

                            <a href="?cat=个人&cid={{ cid }}&sort={{ sort }}"><span {% if cat == '个人' %}class="active2"{% endif %}>个人</span></a>

					</div>
				</li>
				<li>
					<h2>所在地区</h2>
					<div class="more">更多</div>
					<div class="cont">
                        <a href="?cid=&cat={{ cat }}&sort={{ sort }}"><span {% if cid == '' %}class="active2"{% endif %}>全部</span></a>
                        {% for city in all_citys %}
                        <a href="?cid={{ city.id }}&cat={{ cat }}&sort={{ sort }}"><span {% if cid == city.id|stringformat:"i" %}class="active2"{% endif %}>{{ city.name }}</span></a>
                        {% endfor %}
					</div>
				</li>
			</ul>
		</div>
		<div class="all">共<span class="key">{{ all_orgs.count }}</span>家</div>
		<div class="butler_list company list">
		<div class="layout">
			<div class="head">
				<ul class="tab_header">
					<li {% if sort == '' %}class="active"{% endif %}><a href="?sort=&cat={{ cat }}&cid={{ cid }}">全部</a> </li>
					<li {% if sort == 'stunum'  %}class="active"{% endif %}><a href="?sort=stunum&cat={{ cat }}&cid={{ cid }}">学习人数 &#8595;</a></li>
					<li {% if sort == 'counum'  %}class="active"{% endif %}><a href="?sort=counum&cat={{ cat }}&cid={{ cid }}">课程数 &#8595;</a></li>
				</ul>
			</div>
            {% for org in pages %}
            <dl class="des difdes">
                    <dt>
                        <a href="{% url 'orgs:org_detail' org.id %}">
                            <img width="200" height="120" class="scrollLoading" data-url="{{ MEDIA_URL }}{{ org.image }}"/>
                        </a>
                    </dt>
                    <dd>
                        <div class="clearfix">
                             <a href="{% url 'orgs:org_detail' org.id %}">
                                 <h1>{{ org.name }}</h1>
                                 <div class="pic fl">

                                         <img src="{% static 'images/authentication.png' %}"/>

                                         <img src="{% static 'images/gold.png' %}"/>

                                 </div>
                             </a>
                        </div>
                        <ul class="cont">
                            <li class="first"><p class="pic9">课程数：<span>{{ org.course_num }}</span></p><p class="c7">学习人数：<span>{{ org.study_num }}</span></p></li>
                            <li class="c8" style="padding-left:18px;">{{ org.address }}</li>
                            <li class="pic10" style="padding-left:18px;">经典课程：
                                {% for course in org.courseinfo_set.all reversed %}
                                    {% if forloop.counter < 3 %}
                                    <a href="{% url 'courses:course_detail' course.id %}">{{ course.name }}</a>
                                    {% endif %}
                                {% endfor %}
                            </li>
                        </ul>
                    </dd>
                    <div class="buy start_groupbuy jsShowPerfect2" data-id="22"><br/>联系<br/>服务</div>
                </dl>
            {% endfor %}

		</div>
		 <div class="pageturn">
            <ul class="pagelist">
                    {% if pages.has_previous %}
                    <li class="long"><a href="?pagenum={{ pages.previous_page_number }}&cat={{ cat }}&cid={{ cid }}&sort={{ sort }}&keyword={{ keyword }}">上一页</a></li>
                    {% else %}
                    <li class="long"><a href="?pagenum=1&cat={{ cat }}&cid={{ cid }}&sort={{ sort }}&keyword={{ keyword }}">上一页</a></li>
                    {% endif %}

                    {% for num in pages.paginator.page_range %}
                            <li {% if num == pages.number %}class="active"{% endif %}><a href="?pagenum={{ num }}&cat={{ cat }}&cid={{ cid }}&sort={{ sort }}&keyword={{ keyword }}">{{ num }}</a></li>
                    {% endfor %}

                    {% if pages.has_next %}
                    <li class="long"><a href="?pagenum={{ pages.next_page_number }}&cat={{ cat }}&cid={{ cid }}&sort={{ sort }}&keyword={{ keyword }}">下一页</a></li>
                    {% else %}
                    <li class="long"><a href="?pagenum={{ pages.paginator.num_pages }}&cat={{ cat }}&cid={{ cid }}&sort={{ sort }}&keyword={{ keyword }}">下一页</a></li>
                    {% endif %}

            </ul>
        </div>
		</div>
	</div>
	<div class="right companyright">
			<div class="head">我要学习</div>
			<form class="rightform" id="jsStayForm">
				<div>
                    <img src="{% static 'images/rightform1.png' %}"/>
                    <input type="text" name="name" id="companyName" placeholder="名字" maxlength="25" />
                </div>
				<div>
                    <img src="{% static 'images/rightform2.png' %}"/>
                    <input type="text" name="phone" id="companyMobile" placeholder="联系电话"/>
                </div>
				<div>
                    <img src="{% static 'images/rightform3.png' %}"/>
                    <input type="text" name="course" id="companyAddress" placeholder="课程名" maxlength="50" />
                </div>
                <p class="error company-tips" id="jsCompanyTips"></p>
				<input class="btn" type="submit" id="jsStayBtn" value="立即咨询 >" />
            </form>
		</div>

		<div class="right companyrank layout">
			<div class="head">授课机构排名</div>

                {% for org in sort_orgs %}
                <dl class="des">
                    <dt class="num fl">{{ forloop.counter }}</dt>
                    <dd>
                        <a href="{% url 'orgs:org_detail' org.id %}"><h1>{{ org.name }}</h1></a>
                        <p>{{ org.address }}</p>
                    </dd>
                </dl>
                {% endfor %}
		</div>
        </div>
</section>
{% endblock %}
{% block myjs %}
    <script>
    $(function () {
        {#$('#jsStayBtn').click(function () {#}
        {#    var name = $('#companyName').val();#}
        {#    var phone = $('#companyMobile').val();#}
        {#    var course = $('#companyAddress').val();#}
        {#    $.ajax({#}
        {#        type:'POST',#}
        {#        url:'{% url 'operations:user_ask' %}',#}
        {#        data:{#}
        {#            name:name,#}
        {#            phone:phone,#}
        {#            course:course,#}
        {#            csrfmiddlewaretoken:'{{ csrf_token }}'#}
        {#        },#}
        {#        success:function (callback) {#}
        {#            if(callback.status == 'ok'){#}
        {#                alert(callback.msg)#}
        {#            }else {#}
        {#                $('#jsCompanyTips').text(callback.msg)#}
        {#            }#}
        {#        }#}
        {#    })#}
        {# })#}
        $('#jsStayBtn').click(function () {
            var name = $('#companyName').val();
            var phone = $('#companyMobile').val();
            var course = $('#companyAddress').val();
            $.ajax({
                type:'POST',
                url:'{% url 'operations:user_ask' %}',
                data:{
                    name:name,
                    phone:phone,
                    course:course,
                    csrfmiddlewaretoken:'{{ csrf_token }}'
                },
                success:function (callback) {
                    if(callback.status == 'ok'){
                        alert(callback.msg)
                    }else {
                        $('#jsCompanyTips').text(callback.msg)
                    }
                }
            });
            {# 如果点击的按钮不是普通的按钮或者标签，是一个submit按钮，那么它会有一个默认 #}
            {# 提交的动作，也就是说你的页面会发送ajax后，再次进行一次提交，并且是要刷新页面的 #}
            {#  return false是用来阻止提交事件的          #}
            return false;
        })
    })

    </script>
{% endblock %}

